html {
	text-align: center;
	font:16px arial;
}
body {
	padding: 1em;
	background-color: white;
	/*background-image: url("pattern1.jpg");*/
}

header {
	background-color: white;
	width: auto;
	height: auto;
}

section {
	background-color: white;
}

.mypic {
	width:400px;
	height:400px;
}
