html {
	text-align:center;
	font:16px arial;
	color: white;
}
body {
	padding: 20px;
	background-color: black;
}

header {
	background-color: black;
	width: auto;
	height: auto;
}

section {
	background-color: black;
}

.mypic {
	max-width:100%;
	height:auto;
}

a {
	color: hotpink;
	text-decoration: none;
}

ul {
	list-style-type: none;
	font-style: italic;
	font-size: 16px;
}

h1 {
	text-decoration: underline;
}
